@font-face {
  font-family: "Sen";
  src: url("../static/fonts/Sen-Regular.ttf");
}
@font-face {
  font-family: "Sen Bold";
  src: url("../static/fonts/Sen-Bold.ttf");
}
@font-face {
  font-family: "Sen Extra Bold";
  src: url("../static/fonts/Sen-ExtraBold.ttf");
}
:root {
  /* definindo as cores do app */
  --primary-color: #403f3f;
  --secondary-color: #427a5b;
  --text-color: #fffde8;
}
/* tirando a cor roxa dos links que ja foram visitados */
a {
  color: var(--text-color);
  text-decoration: none;
}
a:visited {
  color: var(--text-color);
}
a:hover {
  color: var(--text-color);
}
a:active {
  color: var(--text-color);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
#navbar {
  width: 100vw;
  height: 450px;
  background: #403f3f;
  background: linear-gradient(
    135deg,
    rgba(64, 63, 63, 1) 20%,
    rgba(92, 91, 87, 1) 79%
  );
  border-bottom-left-radius: 80px;
  -webkit-box-shadow: 0px 9px 31px 2px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 9px 31px 2px rgba(0, 0, 0, 0.44);
  box-shadow: 0px 9px 31px 2px rgba(0, 0, 0, 0.44);
}
#navbar ul {
  list-style-type: none;
  color: #fffde8;
  margin: 0;
  padding: 35px;
  font-family: "Sen Bold", sans-serif;
}
#logo {
  font-family: "Sen Extra Bold", sans-serif;
  margin-right: 200px;
  font-size: xx-large;
}
li {
  display: inline;
  margin: 15px;
  font-size: large;
  color: #fffde8;
  text-decoration: none;
}
.illustration {
  width: 600px;
  float: right;
}
img#landing {
  margin-right: 80px;
  height: 300px;
}
header{
  margin-bottom: 70px;
  z-index: 99;
}
.slogan {
  font-family: "Sen Bold", sans-serif;
  color: #fffde8;
  font-size: 48px;
  margin-left: 80px;
  display: inline-block;
}
#coins {
  position: absolute;
  right: 90px;
}
#coin_1 {
  animation: roll 10s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#coin_2 {
  animation: roll 7s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#coin_3 {
  animation: roll 13s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

.numbers{
  text-align: center;
}
.numbers div{
  font-family: "Sen Bold", sans-serif;
  padding: 0 50px;
  width: 33%;
  box-sizing: border-box;
  display: inline-block;
  border-right: solid 0.7px var(--primary-color);
}
.numbers div:last-child{
  border: none;
}
@keyframes roll {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}
