<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
      crossorigin="anonymous"
    />
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script src="./charts.js"></script>
    <link rel="stylesheet" href="./style.css" />
    <title>Business Management</title>
  </head>
  <body id="css-override">
    <nav class="navbar">
      <div class="nav-div">
        <h4 class="logo">Logo</h4>
        <ul>
          <li>
            <a href="" class="nav-link"
              ><i class="fas fa-money-bill-alt"></i
            ></a>
          </li>
          <li>
            <a href="" class="nav-link"><i class="fas fa-chart-pie"></i></a>
          </li>
          <li>
            <a href="" class="nav-link"><i class="fas fa-chart-line"></i></a>
          </li>
          <li>
            <a href="" class="nav-link"><i class="fas fa-chart-bar"></i></a>
          </li>
          <li>
            <button id="modal_open" class="nav-link config"><i class="fas fa-cog"></i></button>
          </li>
        </ul>
        <div class="theme-switch-wrapper">
          <label class="theme-switch" for="themeSwitch">
            <input type="checkbox" id="themeSwitch" />
            <div class="slider round"></div>
          </label>
        </div>
      </div>
    </nav>
    <main>
      <div class="cards">
        <div class="card card1" id="pie_chart_div"></div>
        <div class="card card2" id="bar_chart_div"></div>
        <div class="card card3" id="column_chart_div"></div>
        <div class="card card4" id="trendline_chart_div"></div>
        <div class="card card5"></div>
        <div class="card card6"></div>
        <div class="card card7"></div>
        <div class="card card8"></div>
        <div class="card card9"></div>
        <div class="card card10"></div>
        <div class="card card11"></div>
        <div class="card card12"></div>
        <div class="card card13"></div>
        <div class="card card14"></div>
        <div class="card card15"></div>
        <div class="card card16"></div>
      </div>
    </main>

    <!-- Modal de configuração -->
    <div class="cfg-modal hidden" id="cfg_modal">
      <h2>Configurações</h2>
      <button id="modal_close"><img src="./close.svg" alt="Fechar configurações"></button>
      <div class="cfg">
        <div class="cfg-wrapper">
          <div class="cfg-label">
            Primeira Configuração
          </div>
          <div class="cfg-toggle">
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
        </div> <div class="cfg-wrapper">
          <div class="cfg-label">
            Segunda Configuração
          </div>
          <div class="cfg-toggle">
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
        </div> <div class="cfg-wrapper">
          <div class="cfg-label">
            Terceira Configuração
          </div>
          <div class="cfg-toggle">
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"
      integrity="sha256-MAgcygDRahs+F/Nk5Vz387whB4kSK9NXlDN3w58LLq0="
      crossorigin="anonymous"
    ></script>
    <script src="./main.js"></script>
  </body>
</html>
